include LICENSE
include README.md
include setup.py

include pyproject.toml
include .coverage.rc

# Widgets
include qslwidgets/tsconfig.json
include qslwidgets/package.json
include qslwidgets/webpack.config.js
prune qslwidgets/lib
prune qslwidgets/dist
graft qslwidgets/src
graft qsl/ui

# Unwanted JavaScript
prune **/node_modules
prune coverage

# Testing data
graft qsl/testing/data

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
