include LICENSE
include README.md
include setup.py

include pyproject.toml
include .coverage.rc

include tsconfig.json
include package.json
include webpack.config.js
include qsl/labextension/*.tgz

# Javascript files
graft qsl/slextension
graft qsl/nbextension
graft qsl/frontend
graft qsl/testing/data
graft qsl/assets
graft src
graft css
prune **/node_modules
prune coverage
prune lib

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
